<div class="card" style="width: 18rem;">
  <img src="{{post.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p>{{post.user}}</p>
    <h5 class="card-title">{{post.name}}</h5>
    <p class="card-text">{{post.restaurant}}</p>
    <a href="#" class="btn btn-primary">See More</a>
    {{currentUser}}
    <form action="/feed/{{post._id}}/like" method="POST">
      <button type="submit" class="btn btn-primary bg-light-green">{{#postIsLikedByUser userId=currentUser._id
        likes=post.likes}} Me gusta {{else}} No me gusta {{/postIsLikedByUser}}</button>
    </form>
  </div>
</div>