<!--<div>
    <img src="{{post.image}}" class="card-img-top" alt="...">
    <p>{{post.name}}</p>
    <p>{{post.user.username}}</p>
    <h5 class="card-title">{{post.name}}</h5>
    <p class="card-text">{{post.restaurant}}</p>
    <p class="card-text">{{post.category}}</p>
    {{#isOwnedByUser currentUserId=currentUser._id postOwnerId=post.user._id}}
      <a href="/edit/{{post._id}}" class="btn btn-success">Edit</a>
    {{/isOwnedByUser}}
</div>-->

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{post.image}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{post.name}}</h5>
        <p class="card-text">{{post.restaurant}}</p>
        <p class="card-text">{{post.category}}</p>
        <pclass="card-text">{{post.user.username}}</p>
        {{#isOwnedByUser currentUserId=currentUser._id postOwnerId=post.user._id}}
        <a href="/edit/{{post._id}}" class="btn btn-success">Edit</a>
        <a href="/recipe/{{post._id}}" class="btn btn-success">Add Recipe</a>
        <a href="#" class="btn btn-success">Edit Recipe</a>
        {{/isOwnedByUser}}
      </div>
    </div>
  </div>
</div>

{{#each post.recipes}} 
<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Ingridients</h5>
    <ul>
        {{#each this.ingredients}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
  </div>
</div>
<div class="card text-bg-light mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Instructions</h5>
    <p class="card-text">{{this.instructions}}</p>
  </div>
</div>
{{/each}}

{{!-- Aqui va el final comment --}}
<form action="/post/{{post._id}}" method="POST" >
  <textarea id="myTextarea" name="content"></textarea>

  <button type="submit" class="btn btn-success">Create Comment</button>
</form>

<!--<div>
    {{#each post.comments}}
    <div>{{this.user.username}}: {{this.content}}</div>
    {{/each}}
</div>-->


{{#each post.comments}}
<div class="card" style="max-width: 540px;"></div>
  <div class="card-header">
    {{this.user.username}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Comenta:</h5>
    <div>{{{this.content}}}</div>
    <a href="/post/{{this._id}}/commentDelete" class="btn btn-primary">Delete Comment</a>
  </div>
</div>
{{/each}}


<script src="/js/tinymce/tinymce.min.js"></script>

<script>
  tinymce.init({
    selector: '#myTextarea'
  });
</script>
