<div class="container my-4 mx-6">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{user.image}}" class="img-fluid rounded-start" alt="Profile Image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{user.username}}</h4>
        <p class="card-text">{{user.bio}}</p>
        <p class="card-text"><small class="text-body-secondary">Email: {{user.email}}</small></p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each user.posts}}
      {{>card post=this currentUser=../currentUser}}
    {{/each}}
  </div>
</div>

<!--<div class="profile-page">
    <div class="container profile-container">
        <h1>{{user.username}}</h1>

        <img class="profile-image" src="https://picsum.photos/150" alt="Profile Image">

        <div class="text-center">
            <i class="fas fa-user-circle"></i>
        </div>

        <h2>Email: {{user.email}}</h2>
    </div> 
</div>-->